.maindiv{
    width: 100%;
    min-height: 500px;
    padding: 12px;
}

.side-btn{
    width: 100%;
}

.published-span{
    float: right;
}

.movierama-action{
    color: cyan;
    text-decoration: underline;
    cursor: pointer;
    font-weight:500;
}